name: Add Issues to Project

on:
  issues:
    types:
      - opened
      - reopened

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add to project board
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/users/hansjm10/projects/1
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
